.row {
    display: flex;
    align-items: center;
}

.col-2 {
    padding:10px;
    background-color: yellowgreen;
    flex: 2;

}

.col-3 {
    padding: 10px;
    background-color: skyblue;
    flex: 3;

}