div {
    background-color: rgb(109, 101, 101);
    font-family: Roboto-Black;
    width: 1000px;
    border: 10px solid black;
}

.nav-title {
    font-family: cursive;
    display:inline-block
}
.nav-links{
    justify-content:flex-end;
    margin: 30px;
    list-style-type: none;


.active {
    font-family: sans-serif;
}

.btn {
    color: white;
    background-color:aqua;
    box-shadow: 3px 2px black;
    border: 3px solid black;
    font-family:cursive;
}