body {
    background-position:top;
    background-image: url("comic_anniversary_wallpaper.jpg");
    background-size:70%;
    background-repeat: no-repeat;
    border: 2px dotted green;
    border-radius: 20px;
}