h1 {
    color:cyan;
    background-color:black;
}
span {
    color:white
}
h2{
    color:white;
    background-color:purple;
    font-style:italic;
    text-align:center;
}
h3{
    background-color:aqua;
    text-align:right;
    text-decoration: underline;
}